/// COLORS BY LAYOUT

$main-bg-color: #84a178;
$accent-bg-color: #ffffff;
$products-bg-color-green: #aec6a5;
$products-bg-color-yellow: #efd478;
$products-bg-color-coffee: #d6936d;
$link-bg-color: #f8d24e;

$title-color-white: #fcfcfc;
$title-color-black: #131313;

$main-text-color: #fcfcfc;
$secondary-text-color: #131313;

$map-link-color: #d6936d;
$time-color: #ababab;
$copyright-color: #7a7a7a;

$button-border-color: #0a8817;
$button-text-color: #000000;
