html {
  cursor: url('..//../images/cursor-black.svg'), pointer;
}

a {
  cursor: url('..//../images/cursor-green.svg'), pointer;
}

button {
  cursor: url('..//../images/cursor-yellow.svg'), pointer;
}

a:hover {
  cursor: url('..//../images/cursor-green.svg'), pointer;
}

button:hover {
  cursor: url('..//../images/cursor-yellow.svg'), pointer;
}

svg:hover {
  cursor: url('..//../images/cursor-green.svg'), pointer;
}

.swiper-pagination-bullet:hover {
  cursor: url('..//../images/cursor-yellow-full.svg'), pointer;
}

.products__btn:hover {
  cursor: url('..//../images/cursor-green.svg'), pointer;
}

.header__back-to-top:hover {
  cursor: url('..//../images/cursor-black-full.svg'), pointer;
}

.hero__img-balls:hover {
  cursor: url('..//../images/cursor-blue-pink.svg'), pointer;
}

.hero__img-cone:hover {
  cursor: url('..//../images/cursor-blue-pink.svg'), pointer;
}

.hero__link:hover {
  cursor: url('..//../images/cursor-yellow.svg'), pointer;
}
