// reset styles
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

// colors
$main-bg-color: #84a178;
$accent-bg-color: #ffffff;
$products-bg-color-green: #aec6a5;
$products-bg-color-yellow: #efd478;
$products-bg-color-coffee: #d6936d;
$link-bg-color: #f8d24e;

$title-color-white: #fcfcfc;
$title-color-black: #131313;

$main-text-color: #fcfcfc;
$secondary-text-color: #131313;

$map-link-color: #d6936d;
$time-color: #ababab;
$copyright-color: #7a7a7a;

// fonts
$primary-fonts: 'Montserrat';
$title-fonts: 'Seymour One';

// common
body {
  color: $main-text-color;
  font-family: $primary-fonts, sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  background-image: url(../images/background-mobile-1x.png);
  background-size: contain;
  background-position: center;

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-tablet-1x.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/background-desktop-1x.png);
  }
}

// mixins
@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin tel {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

// container
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include tel {
    width: 320px;
  }

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

// section
.section {
  padding: 60px 0;
}

// hide unnecessary headers
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
