.footer {
    background-color: $main-bg-color;
}

.slogan__top {
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
}
    
@media screen and (max-width: 768px) {
    .slogan__top {
            width: 240px;
            margin-bottom: 16px;                   
        }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .slogan__top {
        font-size: 26px;
        width: 352px;
        margin-bottom: 8px;
    }
}

.slogan__bottom {
font-weight: 700;
font-size: 34px;
line-height: 1.2;
letter-spacing: 0.04em;
text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .slogan__bottom {
        width: 186px;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .slogan__bottom {
        font-size: 48px;
        width: 352px;        
    }
}

.social-media {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 768px) {
    .social-media {        
        margin-bottom: 20px;
    }
}

.social-media__list {
    display: flex;
    background: $link-bg-color;
    border-radius: 50%;
    width: 34px;
    height: 34px;

    &:not(:last-child) {
            margin-right: 20px;
        }
}

@media screen and (min-width: 768px) {
    .social-media__list:not(:last-child) {
        margin-right: 30px;
    }
}

.social-media__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.social-media__icon {
fill: $main-bg-color;
}

.phone {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    .phone {
        margin-bottom: 40px;
    }
}

.phone__number {
    font-family: $primary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    text-align: right;
    color: $title-color-white;
}

.phone__text {    
    font-family: $primary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    text-align: right;
    color: $title-color-black;
}

.footer--line {
    width: 100%;
    border: 1px solid #E1E1E1;
}

.copyright {
    border-top: 1px solid #E1E1E1;    
}

@media screen and (max-width: 767px) {
    .copyright {
        display: flex;
        justify-content: center;
    }
}

.copyright__text {
    font-family: $primary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    /* or 21px */    
    text-align: center;    
    color: #7A7A7A;   
}

@media screen and (max-width: 767px) {
    .copyright__text {   
        width: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .copyright__text {        
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
