.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  
  /*  Установаем ширину окна  */
  @include desktop {
    width: 568px;
  }
  @media screen and (max-width: 479px) {
    width: 280px;
  }
  width: 100%;
  max-width: 500px;
  // давать свои размеры

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */

  padding: 32px 40px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: 0.3s all;
       
   
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  position: absolute;
  @include flex-align;
  background: transparent;
  border: none;
  top: 12px;
  right: 12px;
  padding: 0;
  
}

.modal__title {
  font-family: $title-fonts;
  font-size: 20px;
  line-height: 1.4;
  color: $title-color-black;
  text-align: center;
  align-items: center;
  margin: 0 69px 20px;
  @include desktop {
    margin: 0 0 24px;
  }
}
.modal__pic {
    &::before {
        content: '';
        position: absolute;
        background-size: cover;
        width: 132px;
        height: 132px;
        top: 16.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: linear-gradient(0deg,
            rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)),
          #d9d9d9;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
      }
            


}
.modal__img {
  position: relative;
display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  

}
.modal__features {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
}
.modal__list {


margin-right: 20px;
border: 2px solid #9CBE8F;
border-radius: 40px;
width: 67px;
height: 90px;
&:last-child {
  margin-right: 0;
}
}

.modal__item {


display: flex;
justify-content: center;
align-items: center;
background: #9CBE8F;
border: 2px solid #9CBE8F;
border-radius: 50% ;
width: 53px;
height: 53px;
box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);


  
font-weight: 500;
font-size: 12px;
line-height: calc(28/12);
margin-bottom: 8px;
color: $secondary-text-color;
    
}
.modal__items {

font-weight: 400;
justify-content: center;
font-size: 12px;
line-height: calc(15/12);
color: $secondary-text-color;
}

.modal__ingredients-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28/20);
  align-items: center;
  text-align: center;
  color: $title-color-black;

  margin-bottom: 24px;
}
.modal__ingregients-list {
  margin-bottom: 48px;
}
.modal__ingredients-item {
  margin-bottom: 11px;
  &:last-child {
    margin-bottom: 0;
  }
  display: flex;
  justify-content: space-between;
    
}
.modal__ingredients-text {
  
  font-size: 14px;
  line-height: 176%;
  
  text-align: center;
  letter-spacing: 0.04em;
  color: $title-color-black;
}

.form {
}
.form__list {
}
.form__item {
  display: flex;
  justify-content: center;
}
.form__input {
  font-size: 14px;
  line-height: 140%;
  color: $title-color-black;
  background: rgba(248, 210, 78, 0.1);
   
  width: 368px;
  height: 42px;
  margin-bottom: 16px;
  border: 1px solid #84A178;
  border-radius: 10px;
  outline-style: none;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
  &::placeholder {
      font-size: 14px;
      line-height: 140%;
      color: $title-color-black;
    }
  &:focus {
      border-color: $title-color-black;
    }
}
.form__textarea {
  font-size: 14px;
  line-height: 140%;
  color: $title-color-black;
  background: rgba(248, 210, 78, 0.1);
  width: 368px;
  height: 84px;
  border: 1px solid #84A178;
  border-radius: 10px;
  outline-style: none;
  resize: none;
  padding-top: 11px;
  padding-left: 16px;
  &::placeholder {
      font-size: 14px;
      line-height: 140%;
      color: $title-color-black;
    }
  &:focus {
        border-color: black;
        }
        margin-bottom: 32px;
   }

.close-btn {
  display: flex;
  padding: 12px 34px;
  background: $link-bg-color;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}
