@import '~node_modules/modern-normalize/modern-normalize.css';
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  background-image: url(../images/background-mobile-1x.png);
  background-size: contain;
  background-position: center;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/background-tablet-1x.png);
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/background-desktop-1x.png);
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  padding-top: 20px;
  background-color: #84a178;
}

.header__nav {
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__menu-nav {
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .header__menu-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.products {
  display: block;
  text-align: center;
  padding: 60px 0;
  background-image: url(../images/bg_mobile_1x.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/bg_mobile_2x.jpg);
  }
}
@media screen and (min-width: 767px) {
  .products {
    background-image: url(../images/bg_tablet_1x.jpg);
  }
}
@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/bg_tablet_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/bg_desktop_1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/bg_desktop_2x.jpg);
  }
}

.products__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  color: #131313;
  text-transform: uppercase;
}

.products__titel {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  color: #131313;
  text-transform: uppercase;
  margin-bottom: 140px;
}

.products__item {
  position: relative;
  border-radius: 20px;
  min-width: 250px;
  min-height: 420px;
  padding: 120px 40px 20px 16px;
}

.products__item::before {
  content: "";
  position: absolute;
  background-image: url(../images/products_img_cream_1x.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item::before {
    background-position-y: 50px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    background-image: url(../images/products_img_cream_2x.png);
    background-position: center;
    background-size: cover;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 160px;
}

.products__item--green {
  background-color: #aec6a5;
}

.products__item--yellow {
  background-color: #efd478;
}

.products__item--coffee {
  background-color: #d6936d;
}

.products__name {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  color: #131313;
}

.products__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
}

.products__btn {
  background-color: transparent;
  border: none;
}

.products__icon {
  margin-bottom: 0;
  background-color: transparent;
  fill: #131313;
}/*# sourceMappingURL=index.css.map */