@import '~node_modules/modern-normalize/modern-normalize.css';
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  background-image: url(../images/background-mobile-1x.png);
  background-size: contain;
  background-position: center;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/background-tablet-1x.png);
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/background-desktop-1x.png);
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.products {
  display: block;
  text-align: center;
  padding: 60px 0;
}

.products__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  color: #131313;
  text-transform: uppercase;
}

.products__titel {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  color: #131313;
  text-transform: uppercase;
  margin-bottom: 140px;
}

.products__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products__item {
  position: relative;
  border-radius: 24px;
  max-width: 280px;
  min-height: 420px;
  padding: 123px 40px 16px;
}

.products__item--green::before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 200px;
  height: 200px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products__item--green::after {
  content: "";
  position: absolute;
  background-image: url(../images/products_img_cream_1x.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  top: -11px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--green::after {
    background-image: url(../images/products_img_cream_2x.png);
    background-position: center;
    background-size: cover;
  }
}

.products__item--coffee::before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 200px;
  height: 200px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products__item--coffee::after {
  content: "";
  position: absolute;
  background-image: url(../images/products_img_coffee_1x.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  top: -11px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--coffee::after {
    background-image: url(../images/products_img_coffee_2x.png);
    background-position: center;
    background-size: cover;
  }
}

.products__item--milkshakes::before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 200px;
  height: 200px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products__item--milkshakes::after {
  content: "";
  position: absolute;
  background-image: url(../images/products_img_milkshakes_1x.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  top: -11px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--milkshakes::after {
    background-image: url(../images/products_img_milkshakes_2x.png);
    background-position: center;
    background-size: cover;
  }
}

.products__item:not(:last-child) {
  margin-bottom: 160px;
}

.products__item--green {
  background-color: #aec6a5;
}

.products__item--coffee {
  background-color: #efd478;
}

.products__item--milkshakes {
  background-color: #d6936d;
}

.products__name {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  color: #131313;
}

.products__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
}

.products__btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 16px;
  fill: #131313;
}

.products__icon {
  width: 40px;
  height: 16px;
  margin-bottom: 0;
}

.gallery__container {
  text-align: center;
  transform: translateY(-32px);
}
@media screen and (min-width: 768px) {
  .gallery__container {
    transform: translateY(-122px);
  }
}

.gallery__img {
  border-radius: 8px;
}
@media screen and (max-width: 479px) {
  .gallery__img {
    width: 280px;
  }
}
@media screen and (min-width: 480px) {
  .gallery__img {
    border-radius: 8px;
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__img {
    border-radius: 18px;
    width: 704px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    border-radius: 24px;
    width: 1014px;
  }
}/*# sourceMappingURL=index.css.map */