<!-- Модальное окно About -->

<div class="modal about__modal" data-modal="about">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="modal__cross js-modal-close">
    <svg width="20" height="20">
      <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <p class="modal__title">How it’s made?</p>

  <iframe class="modal__frame modal__framе--height" width="448" height="205"
    src="https://www.youtube.com/embed/o5-MkuEnDoA" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <p class="modal__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>