<!-- Модальное окно About -->

<div class="modal about__modal" data-modal="about">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="modal__cross js-modal-close">
    <svg width="20" height="20">
      <use href="./images/icons-sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal__title">How it’s made?</h2>

  <iframe
    class="modal__frame modal__framе--height"
    width="440"
    height="220"
    src="https://www.youtube.com/embed/o5-MkuEnDoA"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <p class="modal__text">
    Alexander the Great was treated to this cold delicacy during his campaigns
    in Persia and India, and Hippocrates himself spoke about the beneficial
    qualities of ice cream: it can relieve stress and improve mood😊
  </p>
</div>
