<section class="about section" id="how-its-made">
  <div class="container">
    <div class="about__title-container">
      <p class="about__lable">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
    </div>
    <div class="about__content">
      <div class="about__container-img">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="./images/cow.png 1x, ./images/cow-2x.png 2x"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/cow-tab.png 1x, ./images/cow-tab-2x.png 2x"
          />
          <source
            media="(min-width:480px)"
            srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x"
          />
          <source
            media="(min-width:320px)"
            srcset="./images/cow-tel.png 1x, ./images/cow-tel-2x.png 2x"
          />
          <img
            srcset="./images/cow.png 1x, ./images/cow-2x.png 2x"
            src="./images/cow.png"
            alt="cow in the meadow"
            width="490"
            height="490"
            class="about__img"
          />
        </picture>
      </div>
      <div class="about__right-block">
        <ul class="about__list">
          <li class="about__item item">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </li>
          <li class="about__item item">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </li>
          <li class="about__item item">
            This is enough to choose ice cream and coffee for any mood!
          </li>
        </ul>

        <button
          type="button"
          class="button js-open-modal"
          data-modal="about"
        >
          Read more
          <svg width="12" height="12" class="button__arrow">
            <use href="./images/symbol-defs.svg#icon-arrow-right-bold"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
