<!-- Модальное окно About -->

<div class="modal about__modal" data-modal="about">
  <!--   Svg иконка для закрытия окна  -->
  <svg width="20" height="20" class="modal__cross js-modal-close">
    <use href="./images/symbol-defs.svg#icon-close"></use>
  </svg>
  <p class="modal__title">How it’s made?</p>
  <iframe
    class="modal__frame"
    width="448"
    height="205"
    src="https://www.youtube.com/embed/CaQxqt5ErAg"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <p class="modal__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
