<section class="section advantsges">
    <div class="container">
        <h1 class="advantages__title" hidden>Advantages</h1>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <div class="advantages__case">
                    <p class="advantages__quantity advantages__icon-cow">721</p>
                    <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__case">
                    <p class="advantages__quantity advantages__icon-weight">16kg</p>
                    <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__case">
                    <p class="advantages__quantity advantages__icon-ice-cream">84</p>
                    <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    
                </div>
            </li>
        </ul>
    </div>
</section>
