


<section class="section section__contacts">
  <div class="container">
  <ul class="contacts__list">
    <li class="contacts__item">
      <ul class="contacts-details__list">
        
        <li class="contacts-details__item">
          <p class="contacts-details__text contacts-details__text--category">Cafe</p>
          <p class="contacts-details__text contacts-details__text">Chicago</p>
          <p class="contacts-details__text contacts-details__text--adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
        </li>
        
        <li class="contacts-details__item">
        <ul>
          <p class="contacts-details__text" >Monday - Friday</p>
          <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
        </ul>
        <ul>
          <p class="contacts-details__text" >Saturday - Sunday</p>
          <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
        </ul>
        </li>

        <li class="contacts-details__item">
          <ul class="contacts-details__link"> 
            <li>
              <a class="contacts-details__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts-details__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </ul>
        </li>
      </li>
      <li class="contacts__item">
        <ul class="contacts-details__list">
          
          <li class="contacts-details__item">
            <p class="contacts-details__text contacts-details__text--category">FOOD TRUCK</p>
            <p class="contacts-details__text contacts-details__text">Chicago</p>
            <p class="contacts-details__text contacts-details__text--adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
          </li>
          
          <li class="contacts-details__item">
          <ul>
            <p class="contacts-details__text" >Monday - Friday</p>
            <p class="contacts-details__time-work">
              <time>06:00</time> AM - <time>10:00</time>PM</p>
          </ul>
          <ul>
            <p class="contacts-details__text" >Saturday - Sunday</p>
            <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
          </ul>
          </li>
  
          <li class="contacts-details__item">
            <ul class="contacts-details__link"> 
              <li>
                <a class="contacts-details__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="contacts-details__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </li>

        <li class="contacts__item">
          <ul class="contacts-details__list">
            
            <li class="contacts-details__item">
              <p class="contacts-details__text contacts-details__text--category">Cafe</p>
              <p class="contacts-details__text contacts-details__text">Chicago</p>
              <p class="contacts-details__text contacts-details__text--adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
            </li>
            
            <li class="contacts-details__item">
            <ul>
              <p class="contacts-details__text" >Monday - Friday</p>
              <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
            </ul>
            <ul>
              <p class="contacts-details__text" >Saturday - Sunday</p>
              <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
            </ul>
            </li>
    
            <li class="contacts-details__item">
            <ul class="contacts-details__link"> 
              <li>
                <a class="contacts-details__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="contacts-details__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
            </li>
          </li>   
      </ul> 
  </ul>
 <!-- BUTTONS -->
  <ul class="contacts-buttons__list">
    <li class="contacts-buttons__item">
      <button type="button" class="contacts-buttons__button button js-open-modal" data-modal="locations" >
        Our Locations
        <svg class="button__icon" width="8" height="18">
          <use href="./images/icons-sprite.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="contacts-buttons__item">
      <button type="button" class="contacts-buttons__button button js-open-modal" data-modal="franchise">
        Franchise
        <svg class="button__icon" width="8" height="18">
          <use href="./images/icons-sprite.svg#icon-button-arrow"></use>
        </svg>
      </button>

    </li>
    <li></li>
  </ul>
</div>
</section>