<!-- Элементы для вызова модальных окон, могут быть любые -->

<!-- <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>
<a href="#" class="js-open-modal" data-modal="3">Открыть окно 3</a>

 Несколько модальных окон -->

<div class="modal modal-franchise" data-modal="franchise">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="modal__cross js-modal-close">
    <svg width="20" height="20">
      <use href="./images/icons-sprite.svg#icon-close"></use>
    </svg>
  </button>
  <p class="modal__title">
    Thank you for your interest in owning an Ice Cream shop
  </p>
  <p class="modal__text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <form class="contacts-modal__form" action="">
    <input
      type="text"
      class="contacts-modal__input franchise-js"
      placeholder="Name"
      pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      title="Name must be two words separated by space."
    />
    <input
      type="text"
      class="contacts-modal__input franchise-js"
      placeholder="Phone"
      pattern="^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$"
      title="Phone cannot contain letters."
    />
    <input
      type="text"
      class="contacts-modal__input franchise-js"
      placeholder="Email"
      name="email"
    />

    <textarea
      class="contacts-modal__input contacts-modal__comment"
      name=""
      placeholder="Comment"
      cols="30"
      rows="10"
    ></textarea>
    <button class="submit-btn button franchise-button-js" type="button">
      Submit
    </button>
  </form>
</div>

<!-- Модалка локація -->

<div class="modal modal-locations" data-modal="locations">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="modal__cross js-modal-close">
    <svg width="20" height="20">
      <use href="./images/icons-sprite.svg#icon-close"></use>
    </svg>
  </button>
  <p class="modal__title">Our Locations</p>
  <iframe
    class="modal__frame"
    width="448"
    height="260"
    src="https://www.google.com/maps/d/u/4/embed?mid=10A5pQGfCubwr38YBlwBycsSxgMWQ2V8&ehbc=2E312F"
    title="GOOGLE map"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <button type="button" class="button__contacts button js-open-modal" data-modal="Open map">
    Open map
    <svg class="button__arrow" width="8" height="18">
      <use href="./images/icons-sprite.svg#icon-button-arrow"></use>
    </svg>
  </button>
</div>
