<!-- Элементы для вызова модальных окон, могут быть любые -->

<!-- <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>
<a href="#" class="js-open-modal" data-modal="3">Открыть окно 3</a>

<!-- Несколько модальных окон -->

<div class="modal contacts__modal" data-modal="2">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <p class="modal__title">Заголовок окна 2</p>
</div>

<div class="modal" data-modal="3">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <p class="modal__title">Заголовок окна 3</p>
</div> -->


<section class="section section__contacts">
  <div class="container">
  <ul class="contacts__list">
    <li class="contacts__item">
      <ul class="contacts-details__list">
        
        <li class="contacts-details__item">
          <p class="contacts-details__text contacts-details__text--category">Cafe</p>
          <p class="contacts-details__text contacts-details__text">Chicago</p>
          <p class="contacts-details__text contacts-details__text--adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
        </li>
        
        <li class="contacts-details__item">
        <ul>
          <p class="contacts-details__text" >Monday - Friday</p>
          <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
        </ul>
        <ul>
          <p class="contacts-details__text" >Saturday - Sunday</p>
          <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
        </ul>
        </li>

        <li class="contacts-details__item">
          <ul class="contacts-details__link"> 
            <li>
              <a class="contacts-details__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="contacts-details__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </ul>
        </li>
      </li>
      <li class="contacts__item">
        <ul class="contacts-details__list">
          
          <li class="contacts-details__item">
            <p class="contacts-details__text contacts-details__text--category">FOOD TRUCK</p>
            <p class="contacts-details__text contacts-details__text">Chicago</p>
            <p class="contacts-details__text contacts-details__text--adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
          </li>
          
          <li class="contacts-details__item">
          <ul>
            <p class="contacts-details__text" >Monday - Friday</p>
            <p class="contacts-details__time-work">
              <time>06:00</time> AM - <time>10:00</time>PM</p>
          </ul>
          <ul>
            <p class="contacts-details__text" >Saturday - Sunday</p>
            <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
          </ul>
          </li>
  
          <li class="contacts-details__item">
            <ul class="contacts-details__link"> 
              <li>
                <a class="contacts-details__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="contacts-details__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </li>

        <li class="contacts__item">
          <ul class="contacts-details__list">
            
            <li class="contacts-details__item">
              <p class="contacts-details__text contacts-details__text--category">Cafe</p>
              <p class="contacts-details__text contacts-details__text">Chicago</p>
              <p class="contacts-details__text contacts-details__text--adress">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
            </li>
            
            <li class="contacts-details__item">
            <ul>
              <p class="contacts-details__text" >Monday - Friday</p>
              <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
            </ul>
            <ul>
              <p class="contacts-details__text" >Saturday - Sunday</p>
              <p class="contacts-details__time-work">06:00 AM - 10:00 PM</p>
            </ul>
            </li>
    
            <li class="contacts-details__item">
            <ul class="contacts-details__link"> 
              <li>
                <a class="contacts-details__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="contacts-details__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </ul>
            </li>
          </li>
              
      </ul> 
  </ul>
</div>
</section>