<section class="customer-reviews">
  <div class="customer-reviews__container container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="customer-reviews__wrapper">
            <div class="customer-reviews__img-wrapp">
              <img
                class="customer-reviews__img"
                src="./images/slider1-emily-1x.png"
                alt="emily"
              />
            </div>
            <div class="customer-reviews__wrapp">
              <p class="customer-reviews__text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <p class="customer-reviews__desc">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__wrapper">
            <div class="customer-reviews__img-wrapp">
              <img
                class="customer-reviews__img"
                src="./images/slider2-bryan-1x.png"
                alt="bryan"
              />
            </div>
            <div class="customer-reviews__wrapp">
              <p class="customer-reviews__text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
            </div>
            <p class="customer-reviews__desc">Bryan, New-York</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__wrapper">
            <div class="customer-reviews__img-wrapp">
              <img
                class="customer-reviews__img"
                src="./images/slider3-diana-1x.png"
                alt="diana"
              />
            </div>
            <div class="customer-reviews__wrapp">
              <p class="customer-reviews__text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
            </div>
            <p class="customer-reviews__desc">Diana, Chicago</p>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</section>
