<footer class="footer">

    <section class="container wrappage">
        <div class="slogan">
            <p class="slogan__top">homemade ice cream made</p>
            <p class="slogan__bottom">with passion</p>
        </div>

        <div class="inner">
            <ul class="social-media">
                <li class="social-media__list">
                    <a href="https://github.com/" class="social-media__link"><svg class="social-media__icon" width="20"
                            height="20">
                            <use href="./images/icons-sprite.svg#icon-social-github"></use>
                        </svg></a>
                </li>
                <li class="social-media__list">
                    <a href="https://telegram.org/" class="social-media__link"><svg class="social-media__icon"
                            width="20.4" height="15.87">
                            <use href="./images/icons-sprite.svg#icon-social-telegram"></use>
                        </svg></a>
                </li>
                <li class="social-media__list">
                    <a href="https://www.facebook.com/" class="social-media__link"><svg class="social-media__icon"
                            width="9.35" height="20.4">
                            <use href="./images/icons-sprite.svg#icon-social-facebook"></use>
                        </svg></a>
                </li>
            </ul>

            <div class="phone">
                <a href="tel:+610383766284" class="phone__number"><span class="phone__text">Feel free to contact</span>
                    +61
                    (0)
                    383
                    766 284</a>
            </div>
        </div>
    </section>

    <div class="copyright">
        <p class="copyright__text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>