<footer class="footer">

    <section class="container footer--container">
        <div class="footer__slogan">
            <p class="footer__slogan-text">homemade ice cream made</p>
            <h2 class="footer__slogan-title">with passion</h2>
        </div>

        <div class="footer__content">
            <ul class="footer__soc">
                <li class="footer__soclist">
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer nofollow"
                        class="footer__soclink"><svg class="footer__socicon" width="20" height="20">
                            <use href="./images/icons-sprite.svg#icon-social-github"></use>
                        </svg></a>
                </li>
                <li class="footer__soclist">
                    <a href="https://telegram.org/" target="_blank" rel="noopener noreferrer nofollow"
                        class="footer__soclink"><svg class="footer__socicon" width="20.4" height="15.87">
                            <use href="./images/icons-sprite.svg#icon-social-telegram"></use>
                        </svg></a>
                </li>
                <li class="footer__soclist">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer nofollow"
                        class="footer__soclink"><svg class="footer__socicon" width="9.35" height="20.4">
                            <use href="./images/icons-sprite.svg#icon-social-facebook"></use>
                        </svg></a>
                </li>
            </ul>

            <div class="footer__phone">
                <a href="tel:+610383766284" class="footer__phone-number"><span class="footer__phone-text">Feel free to
                        contact</span>
                    +61
                    (0)
                    383
                    766 284</a>
            </div>
        </div>
    </section>

    <div class="footer__copyright">
        <p class="footer__copyright-text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>