<footer>
    <div class="">
        <p class="">homemade ice cream made</p>
        <p class="">with passion</p>
    </div>
    <ul class="">
        <li class="">
            <a href="https://github.com/"><svg width="20" height="20">
                    <use href="./images/icons-sprite.svg#icon-social-github"></use>
                </svg></a>
        </li>
        <li class="">
            <a href="https://telegram.org/"><svg width="20.4" height="15.87">
                    <use href="./images/icons-sprite.svg#icon-social-telegram"></use>
                </svg></a>
        </li>
        <li class="">
            <a href="https://www.facebook.com/"><svg width="9.35" height="20.4">
                    <use href="./images/icons-sprite.svg#icon-social-facebook"></use>
                </svg></a>
        </li>
    </ul>
    <div class="">
        <a href="tel:+610383766284" class=""><span>Feel free to contact</span> +61 (0) 383 766 284</a>
    </div>
    <div class="">
        <p class="">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>