<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery__container container">
    <div class="gallery__wrapper">
      <picture class="mySlides fade">
        <source
          srcset="
            ./images/gallery/ice-cream-first-1x.jpg 1x,
            ./images/gallery/ice-cream-first-2x.jpg 2x
          "
        />
        <img
          class="gallery__img"
          src="./images/gallery/ice-cream-first-1x.jpg"
          alt="ice cream foto1"
        />
      </picture>
      <picture class="mySlides fade">
        <source
          srcset="
            ./images/gallery/ice-cream-second-1x.jpg 1x,
            ./images/gallery/ice-cream-second-2x.jpg 2x
          "
        />
        <img
          class="gallery__img"
          src="./images/gallery/ice-cream-second-1x.jpg"
          alt="ice cream foto2"
        />
      </picture>
      <picture class="mySlides fade">
        <source
          srcset="
            ./images/gallery/ice-cream-third-1x.jpg 1x,
            ./images/gallery/ice-cream-third-2x.jpg 2x
          "
        />
        <img
          class="gallery__img"
          src="./images/gallery/ice-cream-third-1x.jpg"
          alt="ice cream foto3"
        />
      </picture>
    </div>
  </div>
</section>

<!-- <section class="gallery">
  <div class="fadein">
    <h2 class="visually-hidden">Gallery</h2>
    <img
      class="mySlides fade"
      srcset="
        /src/images/gallery/img-1_280.jpg   280w,
        /src/images/gallery/img-1_560.jpg   560w,
        /src/images/gallery/img-1_704.jpg   704w,
        /src/images/gallery/img-1_1013.jpg 1013w,
        /src/images/gallery/img-1_1408.jpg 1408w,
        /src/images/gallery/img-1_2026.jpg 2026w
      "
      sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
      src="/src/images/gallery/img-1_280.jpg"
      alt=" blueberry icecream"
    />

    <img
      class="mySlides fade"
      srcset="
        /src/images/gallery/img-2_280.jpg   280w,
        /src/images/gallery/img-2_560.jpg   560w,
        /src/images/gallery/img-2_704.jpg   704w,
        /src/images/gallery/img-2_1013.jpg 1013w,
        /src/images/gallery/img-2_1408.jpg 1408w,
        /src/images/gallery/img-2_2026.jpg 2026w
      "
      sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
      src="/src/images/gallery/img-2_280.jpg"
      alt="cherry icecream"
    />

    <img
      class="mySlides fade"
      srcset="
        /src/images/gallery/img-3_280.jpg   280w,
        /src/images/gallery/img-3_560.jpg   560w,
        /src/images/gallery/img-3_704.jpg   704w,
        /src/images/gallery/img-3_1013.jpg 1013w,
        /src/images/gallery/img-3_1408.jpg 1408w,
        /src/images/gallery/img-3_2026.jpg 2026w
      "
      sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
      src="/src/images/gallery/img-3_280.jpg"
      alt="sweet icecream"
    />
  </div>
</section> -->
