<section class="section-gallery">
  <div class="fadein">
    <h2 class="visually-hidden">Gallery</h2>
    <img
      class="mySlides fade"
      srcset="
        /src/images/gallery/img-1_280.jpg   280w,
        /src/images/gallery/img-1_560.jpg   560w,
        /src/images/gallery/img-1_704.jpg   704w,
        /src/images/gallery/img-1_1013.jpg 1013w,
        /src/images/gallery/img-1_1408.jpg 1408w,
        /src/images/gallery/img-1_2026.jpg 2026w
      "
      sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
      src="/src/images/gallery/img-1_280.jpg"
      alt=" blueberry icecream"
    />

    <img
      class="mySlides fade"
      srcset="
        /src/images/gallery/img-2_280.jpg   280w,
        /src/images/gallery/img-2_560.jpg   560w,
        /src/images/gallery/img-2_704.jpg   704w,
        /src/images/gallery/img-2_1013.jpg 1013w,
        /src/images/gallery/img-2_1408.jpg 1408w,
        /src/images/gallery/img-2_2026.jpg 2026w
      "
      sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
      src="/src/images/gallery/img-2_280.jpg"
      alt="cherry icecream"
    />

    <img
      class="mySlides fade"
      srcset="
        /src/images/gallery/img-3_280.jpg   280w,
        /src/images/gallery/img-3_560.jpg   560w,
        /src/images/gallery/img-3_704.jpg   704w,
        /src/images/gallery/img-3_1013.jpg 1013w,
        /src/images/gallery/img-3_1408.jpg 1408w,
        /src/images/gallery/img-3_2026.jpg 2026w
      "
      sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
      src="/src/images/gallery/img-3_280.jpg"
      alt="sweet icecream"
    />
  </div>
</section>
