<header class="header" id="home">
  <div class="container header__container">
    <a class="header__logo-destop" href="#home">
      <picture>
        <source srcset="./images/logo_tablet.png" media="(max-width:768px)" />
        <img src="./images/logo.png" alt="logo" />
      </picture>
    </a>
    <!-- кнопки мобильного меню  aria-controls="mobile-menu-1"
      aria-expanded="false" -->
    <button
      class="header__menu-button button__mobil-menu js-open-modal"
      type="button"
      data-modal="2"
    >
      <svg class="mobil-icon" width="32" height="32" aria-label="menu">
        <use
          class="header__icon-menu"
          href="./images/icons-sprite.svg#icon-burger-menu"
        ></use>
      </svg>
    </button>
    <!-- мобільне меню -->
    <div class="header__mobil-menu modal" data-modal="2">
      <a class="header__logo-mobil header__ise-logo" href="#"
        ><img src="./images/logo_tablet.png" alt="logo"
      /></a>
      <!--   Svg иконка для закрытия окна  -->
      <svg
        class="modal__cross header__modal-cros js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <ul class="header__mobil-menu-list">
        <li class="header__mobil-menu-item">
          <a class="header__mobil-menu-link js-modal-close" href="#home"
            >Home</a
          >
        </li>
        <li class="header__mobil-menu-item">
          <a class="header__mobil-menu-link js-modal-close" href="#how-its-made"
            >How it’s made?</a
          >
        </li>
        <li class="header__mobil-menu-item">
          <a class="header__mobil-menu-link js-modal-close" href="#products"
            >Our products</a
          >
        </li>
        <li class="header__mobil-menu-item">
          <a class="header__mobil-menu-link js-modal-close" href="#contact"
            >Contact</a
          >
        </li>
      </ul>
      <button
        class="header-tab-desk__in-menu button js-open-modal"
        type="button"
        data-modal="1"
      >
        Buy now
        <svg width="12" height="12" class="button__arrow">
          <use href="./images/icons-sprite.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>
    </div>
    <!-- меню навігації -->
    <nav class="header__nav" id="menu">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="#home" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="#how-its-made" class="header-nav__link">How it’s made?</a>
        </li>
        <li class="header-nav__item">
          <a href="#products" class="header-nav__link">Our products</a>
        </li>
        <li class="header-nav__item">
          <a href="#contact" class="header-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- кнопка buy noy -->
    <button
      class="header-tab-desk__button button js-open-modal"
      type="button"
      data-modal="1"
    >
      Buy now
      <!-- стрілка в кнопці -->
      <svg width="12" height="12" class="button__arrow">
        <use href="./images/icons-sprite.svg#icon-arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</header>
