<!-- HERO -->
<section class="hero" id="hero">
  <div class="container">
    <div class="hero__description">
      <div class="hero__title-wrapper">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero__navigation-list list">
          <li class="hero__navigation-item">
            <a href="#products" class="hero__link link hero__button">Products</a>
          </li>
          <li class="hero__navigation-item">
            <a href="#how-its-made" class="hero__link hero__underline">How it’s made?</a>
          </li>
        </ul>
      </div>
      <!-- -------before tablet is hidden ----- -->
      <ul class="hero__point-sale list animate__animated animate__backInRight">
        <li class="hero__point-sale-item">
          <p class="hero__point-sale-count">16</p>
          <p class="hero__point-sale-name">cafes</p>
        </li>
        <li class="hero__point-sale-item">
          <p class="hero__point-sale-count">23</p>
          <p class="hero__point-sale-name">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__content">
      <img class="hero__img-balls" srcset="
                  ./images/hero/hero-ice-balls-tablet-1x.png  152w,
                  ./images/hero/hero-ice-balls-tablet-2x.png  304w,
                  ./images/hero/hero-ice-balls-desktop-1x.png 225w,
                  ./images/hero/hero-ice-balls-desktop-2x.png 450w
                " sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
        src="./images/hero/hero-ice-balls-tablet-1x.png" alt="plate with ice-cream balls" />
      <a href="#products" class="hero__content-link link">
        <p class="hero__text">
          You can't buy happiness, but you can buy ice cream, and that's pretty much the same thing.
          The best time for ice cream is always !
        </p>
        <svg class="hero__arrow" width="40" height="16">
          <use href="./images/icons-sprite.svg#icon-arrow-white"></use>
        </svg>
      </a>
    </div>
    <div class="hero__picture">
      <img class="hero__img-cone" srcset="
            ./images/hero/hero-ice-cone-mobile-1x.png  218w,
            ./images/hero/hero-ice-cone-mobile-2x.png  436w,
            ./images/hero/hero-ice-cone-tablet-1x.png  268w,
            ./images/hero/hero-ice-cone-tablet-2x.png  536w,
            ./images/hero/hero-ice-cone-desktop-1x.png 456w,
            ./images/hero/hero-ice-cone-desktop-2x.png 912w
          " sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 480px) 218px, 100vw"
        src=" ./images/hero/hero-ice-cone-mobile-1x.png" alt="three balls ice-cream in cone with fanny smile" />
    </div>
</section>