<header class="header" id="home">
  <div class="container header__container">
    <a class="header__logo-destop"href="##"><img src="./images/logo.png" alt="logo"/></a>
      <!-- <picture>
        <source
          srcset="./images/logo_tablet.png"
            media="(max-width:768px)"/>
          
      </picture> -->
    
    <a class="header__logo-tablet" href="##"><img src="./images/logo_tablet.png" alt="logo" /></a>
    <!-- кнопки мобильного меню -->
    
    <button
      class="header__menu-button js-open-menu"
      aria-controls="mobile-menu"
      aria-expanded="false"
      type="button"
    >
      <svg
        class="mobil-icon"
        width="32"
        height="32"
        aria-label="перемикач меню"
      >
        <use
          class="header__icon-menu"
          href="./images/icons-sprite.svg#icon-burger-menu"
        ></use>
      </svg>
    </button>
    <!-- меню навігації -->
    <nav class="header__nav">
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <a href="#home" class="nav-header__link">Home</a>
        </li>
        <li class="nav-header__item">
          <a href="#how-its-made" class="nav-header__link">How it’s made?</a>
        </li>
        <li class="nav-header__item">
          <a href="#products" class="nav-header__link">Our products</a>
        </li>
        <li class="nav-header__item">
          <a href="#locations" class="nav-header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- кнопка buy noy -->
    <button
      class="tab-desk__button button js-open-modal"
      type="button"
      data-modal="1"
    >
      Buy now
      <!-- стрілка в кнопці -->
      <svg width="12" height="12">
        <use class="header__icon-arrow" href="images/symbol-defs.svg#icon-arrow-right-bold"></use>
      </svg>
    </button>
    <!-- Элементы для вызова модальных окон, могут быть любые -->

    <!-- <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a> -->

    <!-- Несколько модальных окон -->

    <div class="modal" data-modal="1">
      <!--   Svg иконка для закрытия окна  -->
      <svg
        class="modal__cross js-modal-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
      <p class="modal__title">Заголовок окна 1</p>
    </div>
  </div>
</header>
