<div class="modal" data-modal="products">
  <!--   Svg иконка для закрытия окна  -->
  <button class="modal__cross js-modal-close"> 
    <svg width="26" height="26">
      <use href="../src/images/icons-sprite.svg#icon-button-cross"></use>
    </svg> 
  </button>
  <h2 class="modal__title"><span>Chololate icecream</span></h2>
  <div class="modal__pic">
    <img class="modal__img" 
    srcset= "../src/images/products_modal_pic_1x.png 132w, 
            ../src/images/products_modal_pic_2x.png 264w"  
   sizes="(min-width: 1200px) 132px, 100vw "
    src="../src/images/products_modal_pic_1x.png" alt="Chololate icecream" width="132" height="139">
  </div>
  <ul class="modal__features">
    <li class="modal__list">
      <p class="modal__item">320</p>
      <p class="modal__items">kcal</p>
    </li>
    <li class="modal__list">
      <p class="modal__item">4g</p>
      <p class="modal__items">Protein...</p>
    </li>
    <li class="modal__list">
      <p class="modal__item">8,2g</p>
      <p class="modal__items">Fats</p></li>
    <li class="modal__list">
      <p class="modal__item">40,4g</p>
      <p class="modal__items">Carbs</p>
    </li>
  </ul>
  <h3 class="modal__ingredients-title">Ingredients</h3>
  <ul class="modal__ingregients-list">
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Milk</p>
      <p class="modal__ingredients-text">100ml</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Belgian chocolate</p>
      <p class="modal__ingredients-text">20g</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Cream</p>
      <p class="modal__ingredients-text">150 ml</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Cocoa powder</p>
      <p class="modal__ingredients-text">30g</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Sugar</p>
      <p class="modal__ingredients-text">40g</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Vanilla sugar</p>
      <p class="modal__ingredients-text">10g</p>
    </li>
  </ul>
  <form class="form">
    <ul class="form__list">
      <li class="form__item">
        <input type="text" class="form__input" placeholder="Name" />
      </li>
      <li class="form__item">
        <input type="tel" class="form__input" placeholder="Phone" />
      </li>
      <li class="form__item">
        <textarea
          name="comment"
          id="comment"
          class="form__textarea"
          placeholder="Comment"
         
        ></textarea>
      
      </li>
    </ul>
    <button type="submit" class="close-btn">Submit</button>
  </form>
</div>
