<div class="modal products-modal" data-modal="products">
  <!--   Svg иконка для закрытия окна  -->
  <button class="modal__cross js-modal-close">
    <svg width="24" height="24">
      <use href="./images/icons-sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal__title product-modal__title">Chololate icecream</h2>
  <div class="modal__pic">
    <img
      class="modal__img"
      srcset="
        ./images/products_modal_pic_1x.png 132w,
        ./images/products_modal_pic_2x.png 264w
      "
      sizes="(min-width: 1200px) 132px, 100vw "
      src="./images/products_modal_pic_1x.png"
      alt="Chololate icecream"
      width="132"
      height="139"
    />
  </div>

  <ul class="modal__features">
    <li class="modal__list">
      <p class="modal__item">320</p>
      <p class="modal__items">kcal</p>
    </li>
    <li class="modal__list">
      <p class="modal__item">4g</p>
      <p class="modal__items">
        <span class="modal__items-span">Prote...</span>
        <span class="modal__items-span2">Protein...</span></p>
    </li>
    <li class="modal__list">
      <p class="modal__item">8,2g</p>
      <p class="modal__items">Fats</p>
    </li>
    <li class="modal__list">
      <p class="modal__item">40,4g</p>
      <p class="modal__items">Carbs</p>
    </li>
  </ul>
  <h3 class="modal__ingredients-title">Ingredients</h3>
  <ul class="modal__ingregients-list">
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Milk</p>
      <p class="modal__ingredients-text">100ml</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Belgian chocolate</p>
      <p class="modal__ingredients-text">20g</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Cream</p>
      <p class="modal__ingredients-text">150 ml</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Cocoa powder</p>
      <p class="modal__ingredients-text">30g</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Sugar</p>
      <p class="modal__ingredients-text">40g</p>
    </li>
    <li class="modal__ingredients-item">
      <p class="modal__ingredients-text">Vanilla sugar</p>
      <p class="modal__ingredients-text">10g</p>
    </li>
  </ul>
  <form class="form">
    <ul class="form__list">
      <li class="form__item">
        <input 
        type="text" 
        required
        class="form__input products-js" 
        placeholder="Name"  
        pattern="^[a-zA-Z]+$"
        title="Name cannot contain numbers or symbols."

        />
      </li>
      <li class="form__item">
        <input 
        type="tel" 
        required
        class="form__input products-js" 
        placeholder="Phone" 
        pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
        title="+380 (00) 000-00-00" 
        />
      </li>
      <li class="form__item">
        <textarea
          name="comment"
          id="comment"
          class="form__textarea"
          placeholder="Comment"
        ></textarea>
      </li>
    </ul>

    <button type="submit" class="close-btn button products-button-js">
      Submit
    </button>
  </form>
</div>
