<section class="products">
  <div class="container products__container">
    <p class="products__label label"><span>100% natural</span></p>
    <h2 class="products__titel titel"><span>products</span></h2>
    <ul class="products__list list">
      <li class="products__item item products__item--green">
        <h3 class="products__name"><span>ice cream</span></h3>
        <p class="products__descr">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="button" class="products__btn btn">
          <svg class="products__icon" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item item products__item--coffee">
        <h3 class="products__name"><span>ice coffee</span></h3>
        <p class="products__descr">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="products__btn btn">
          <svg class="products__icon" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item item products__item--milkshakes">
        <h3 class="products__name"><span>milkshakes</span></h3>
        <p class="products__descr">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="products__btn btn">
          <svg class="products__icon" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
