/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
 }

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  
  /*  Установаем ширину окна  */
  width: 100%;
   max-width: 280px;

  @include tablet {
    max-width: 568px;
  }

  // давать свои размеры

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  // text-align: center;
  border-radius: 10px;
  background-color: #fcfcfc;
  transition: 0.3s all;
  padding: 28px;
  border: 2px solid $link-bg-color;

  @include tablet {
    padding: 32px 60px;
  }



  // Заголовок модалки
  &__title {
    font-family: 'Seymour One';
    text-align: center;
    @include font(400, 16px, 1.5, null);
    color: #131313;

    margin-bottom: 20px;

    @include tablet {
      @include font(null, 20px, 1.4, null);
      margin-bottom: 32px;
    }
  }

  // Iframe
  &__frame {
    background-color: #000000;
    border-radius: 10px;
    max-width: 224px;
    

    border: 0;
    overflow: hidden;

    @include tablet {
      max-width: 448px;
    }
  }

  // Текст можального окна
    &__text {
      text-align: left;
      @include font(400, 14px, 1.4, 0);
  
      color: #131313;
  
      @include tablet {
        @include font(null, 16px, null, null);
      }
    }
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
}

// выше не трогать

/* Стили для кнопки закрытия */

.modal__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  &:hover {
    fill: $main-bg-color;
  }

  @include tablet {
    width: 24px;
    height: 24px;
  }

}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

// a {
//   padding: 20px;
//   display: inline-block;
//   text-decoration: none;
//   background-color: #414b52;
//   margin: 10px;
//   color: #fff;
//   border-radius: 3px;
// }
