.about {
  padding-bottom: 50px;
  background: $main-bg-color;
  text-align: center;

  @include tablet {
    padding-bottom: 80px;
    text-align: left;
  }

  @include desktop {
    padding-bottom: 100px;
  }

  &__title-container {
    margin: 0 auto 32px;
    max-width: 210px;
    width: 100%;
    text-align: center;

    @include tablet {
      max-width: 456px;
      margin-bottom: 80px;
    }

    @include desktop {
      max-width: 483px;
      margin-bottom: 82px;
    }
  }

  &__lable {
    @include font(700, 18px, 1.22, 0);
    text-transform: uppercase;
    color: $title-color-white;

    margin-bottom: 12px;

    @media screen and (min-width: 480px) and (max-width: 767px) {
      margin-bottom: 0;
      margin-top: 12px;
    }

    @include tablet {
      @include font(800, 22px, 1.23, 0.04em);
    }

    @include desktop {
      @include font(null, 30px, null, null);
    }
  }

  &__title {
    font-family: 'Seymour One';
    @include font(400, 30px, 1.27, 0.04em);
    text-transform: uppercase;

    color: $title-color-white;

    @include tablet {
      @include font(null, 34px, 1.26, 0.06em);
    }

    @include desktop {
      @include font(null, 36px, 1.25, null);
    }
  }

  &__content {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__container-img {
    position: relative;
    margin: 0 auto 62px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 280px;

    @include tablet {
      max-width: 330px;
      margin: 0 38px 0 0;
    }

    @include desktop {
      max-width: 490px;
      margin-right: 110px;
    }

    &::before {
      content: '';
      position: absolute;

      width: 100%;
      height: 100%;
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
      border-radius: 140px;

      @include tablet {
        border-radius: 165px;
      }

      @include desktop {
        border-radius: 250px;
      }
    }
  }

  &__img {
    transform: translateY(22px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .about__container-img:hover & {
      transform: translateY(0px);
    }

    @include tablet {
      border-radius: 165px;

      transform: translateY(0);
    }

    @include desktop {
      border-radius: 250px;

      transform: translateY(0);

    }
  }

  &__right-block {
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      max-width: 220px;
    }

    @include desktop {
      width: 463px;
      margin: 0;
    }
  }

  &__item {
    @include font(null, 12px, 1.76, 0.04em);
    margin-bottom: 4px;

    @include tablet {
      margin-bottom: 8px;
      text-align: left;
    }

    @include desktop {
      @include font(null, 16px, 1.76, null);
    }

    &:last-child {
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 32px;
      }

      @include desktop {
        margin-bottom: 54px;
      }
    }
  }
}

.in-viewport.about__img {
  transform: translateY(22px);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
