.modal {

&__framе--height {
    height: 199px;
    margin-bottom: 20px;

        @include tablet {
            height: 205px;
            margin-bottom: 32px;
           }
      }
  
}

.about__modal {
  height: 100%;
  max-height: 459px;

  @include tablet {
    height: 100%;
    max-height: 449px;
  }
}