.section__contacts {
  padding: 0;
  padding-bottom: 60px;

  background-image: linear-gradient(
    to bottom,
    rgba(132, 161, 120, 0) 24%,
    rgba(132, 161, 120, 1) 24%,
);

  @include tablet {
    padding-top: 40px;

    // background-image: linear-gradient(
    //     to bottom,
    //     $accent-bg-color 23%,
    //     $main-bg-color 23%,

    // );
  }

  @include desktop {
    padding-top: 60px;

    // background-image: linear-gradient(
    //     to bottom,
    //     $accent-bg-color 21%,
    //     $main-bg-color 21%,
    // );
  }
  .contacts__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include tablet {
      justify-content: normal;
      flex-wrap: nowrap;
      margin: -16px;
    }
  }
  .contacts__item {
    padding: 40px 32px;
    width: 280px;

    background-color: $accent-bg-color;
    border: 1px solid #e1e1e1;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    @include tablet {
      width: calc((100% - 6 * 16px) / 3);
      margin: 16px;
    }
    @include desktop {
      padding: 40px 40px;
    }
  }
  // тут питання по коду див вниз
  .contacts-details__item {
    &:first-child {
      margin-bottom: 24px;
    }

    &:nth-child(2) {
      padding: 24px 0;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
    }

    &:last-child {
      margin-top: 24px;
    }

    // @include tablet {
    //     &:first-child {
    //         margin-bottom: 32px;
    //     }

    //     &:nth-child(2) {
    //         padding: 32px 0;

    //         border-top: 1px solid #E1E1E1;
    //         border-bottom: 1px solid #E1E1E1;
    //     }

    //     &:last-child {
    //         margin-top: 32px;
    //     }
    // }
  }
  .contacts-details__text {
    @include font(500, 12px, 1.84, 0.04em);

    color: $title-color-black;

    @include mobile {
      @include font(500, 14px, 1.86, 0.04em);
    }

    @include desktop {
      @include font(500, 16px, 1.88, 0.04em);
    }

    &--margin-bottom {
      margin-bottom: 8px;

      @include tablet {
        margin-bottom: 12px;
      }
      @include desktop {
        margin-bottom: 8px;
      }
    }
    &--category {
      display: inline-block;
      padding:4px 14px;

      background-color: $link-bg-color;


      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      text-transform: uppercase;

      border-radius: 4px;

      @include tablet {
        margin-bottom: 32px;

        @include font(500, 16px, 1.4, 0.04em);
      }
    }
    &--adress {
      color: $map-link-color;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .contacts-details__time-work {
    @include font(500, 12px, 1.86, null);
    color: $time-color;

    @include tablet {
      @include font(500, 14px, 1.86, 0.04em);
    }

    @include desktop {
      @include font(500, 16px, 1.86, 0.04em);
    }
  }

  .contacts-details__tel,
  .contacts-details__email {
    @include font(500, 12px, 1.86, null);
    color: $title-color-black;

    @include tablet {
      @include font(500, 14px, 1.86, 0.04em);
    }

    @include desktop {
      @include font(500, 16px, 1.82, 0.04em);
    }
  }
  .contacts-buttons__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    @include desktop {
        margin-top: 60px;
    }
}

.contacts-buttons__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @include tablet {
        &:not(:last-child) {
            margin-right: 14.5px;
            margin-bottom: 0;
        }
    }

    @include desktop {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}
.contacts-buttons__button {
  @include font(600, 14px, 1.29, null);

    background: $link-bg-color;
    border-radius: 10px;
    padding: 12px;
    width: 152px;
    height: 42px;
    cursor: pointer;
  
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;

}
.button__icon {
  fill: currentColor;
  margin-left: 5px;
}
}
