.contacts-modal__form {
  margin-top: 32px;
}
.contacts-modal__input {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  padding: 8px 12px;
  outline: none;

  background-color: rgba(248, 210, 78, 0.1);
  border: solid 1px $main-bg-color;
  border-radius: 10px;

  font-size: 12px;
  line-height: 1.4;
  text-align: left;
  color: $title-color-black;

  &:not(:placeholder-shown):invalid {
    border-color: red;
  }
}

.contacts-modal__comment {
  resize: none;
  height: 64px;
  margin-bottom: 24px;
}

.modal-franchise {
  width: 280px;
  height: 100%;
  max-height: 674px;
  padding: 28px 28px;


  @include tablet {
    width: 568px;
    max-height: 668px;
    padding: 32px 60px;
  }
}


.button__contacts {
  width: 134px;
  height: 42px;
  margin-top: 24;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 24px;
  @include font(600, 12px, 15px, null);
  @include mobile {
    width: 145px;
    padding: 12px 34px;
  }

}



.modal__frame--contacts {
  @include mobile {
    height: 260px;
  }
}

.modal-locations{
  width: 280px;
  height: 100%;
  max-height: 365px;
  padding: 28px 28px;

  @include tablet {
    width: 568px;
    max-height: 458px;
    padding: 32px 60px;
  }


}
.modal.modal-locations {
  text-align: center;
}