.footer {
    background-color: $main-bg-color;
}

@media screen and (min-width: 768px) {
    .footer__container {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .footer__content {
padding-top: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__content {
        padding-top: 18px;
    }
}

.footer__slogan-text {
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
}
    
@media screen and (max-width: 768px) {
    .footer__slogan-text {
            width: 240px;
            margin-bottom: 16px;                   
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer__slogan-text {
        font-size: 26px;
        width: 352px;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__slogan-text {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.23;        
        letter-spacing: 0.04em;
        margin-bottom: 14px;
    }
}

.footer__slogan-title {
font-weight: 700;
font-size: 34px;
line-height: 1.2;
letter-spacing: 0.04em;
text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .footer__slogan-title {
        width: 186px;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer__slogan-title {
        font-size: 48px;
        width: 352px; 
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__slogan-title {
        font-size: 58px;
        line-height: 1.22;
        letter-spacing: 0.06em;
        margin-bottom: 60px;

    }
}

.footer__soc {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 768px) {
    .footer__soc {        
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer__soc {
        margin-bottom: 40px;
    }
}

.footer__soclist {
    display: flex;
    background: $link-bg-color;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));

    &:not(:last-child) {
            margin-right: 20px;
        }
}

@media screen and (min-width: 768px) {
    .footer__soclist:not(:last-child) {
        margin-right: 30px;
    }
}

.footer__soclink {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer__soclink:hover .footer__socicon,
.footer__soclink:focus .footer__socicon {
    fill: #FCFCFC;
}

.footer__socicon {
fill: $main-bg-color;
}

.footer__phone {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    .footer__phone {
        margin-bottom: 40px;
    }
}

.footer__phone-number {
    font-family: $primary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;    
    text-align: right;
    color: $title-color-white;
}

@media screen and (min-width: 768px) {
    .footer__phone-number {
        font-size: 14px;        
    }
}

@media screen and (min-width: 1200px) {
    .footer__phone-number {
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.footer__phone-text {    
    font-family: $primary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;    
    text-align: right;
    color: $title-color-black;
}

@media screen and (min-width: 768px) {
    .footer__phone-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__phone-text {
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.footer--line {
    width: 100%;
    border: 1px solid #E1E1E1;
}

.footer__copyright {
    border-top: 1px solid #E1E1E1;    
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        display: flex;
        justify-content: center;
    }
}

.footer__copyright-text {
    font-family: $primary-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;    
    text-align: center;    
    color: #7A7A7A;   
}

@media screen and (max-width: 767px) {
    .footer__copyright-text {   
        width: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .footer__copyright-text {        
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
