.gallery {
  // background-image: url(../images/bg_desktop_1x.jpg);

  @media screen and (max-width: 479px) {
    padding-top: 32px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 480px) {
    padding-top: 32px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  //     background-image: linear-gradient (to bottom,
  //     rgba(132, 161, 120, 1),
  //     rgba(132, 161, 120, 0)),
  //     url(../images/bg_mobile_1x.jpg);
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-size: cover;

  //     @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //         background-image: linear-gradient (to bottom,
  //     rgba(132, 161, 120, 1),
  //     rgba(132, 161, 120, 0)),
  //     url(../images/bg_mobile_2x.jpg);
  //     }
  // }

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //     .hero {
  //         background-image: linear-gradient (to bottom,
  //     rgba(132, 161, 120, 1),
  //     rgba(132, 161, 120, 0)),
  //     url(../images/bg_tablet_1x.jpg);
  //     }

  //         @media (min-device-pixel-ratio: 2),
  //         (min-resolution: 192dpi),
  //         (min-resolution: 2dppx) {
  //             .hero {
  //                 background-image: linear-gradient (to bottom,
  //     rgba(132, 161, 120, 1),
  //     rgba(132, 161, 120, 0)),
  //     url(../images/bg_tablet_2x.jpg);
  //             }
  //         }
  // }

  // @include desktop {
  //     .hero {
  //         height: 600px;
  //         padding-top: 200px;
  //         padding-bottom: 200px;
  //         background-image: linear-gradient (to bottom,
  //     rgba(132, 161, 120, 1),
  //     rgba(132, 161, 120, 0)),
  //     url(../images/bg_desktop_1x.jpg);
  //     }

  //         @media (min-device-pixel-ratio: 2),
  //         (min-resolution: 192dpi),
  //         (min-resolution: 2dppx) {
  //             .hero {
  //                 background-image: linear-gradient (to bottom,
  //     rgba(132, 161, 120, 1),
  //     rgba(132, 161, 120, 0)),
  //     url(../images/bg_desktop_2x.jpg);
  //             }
  //         }
}

.gallery__container {
  text-align: center;
  // transform: translateY(-32px);

  // @media screen and (min-width: 768px) {
  //   transform: translateY(-122px);
  // }
}

.gallery__wrapper {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.gallery__img {
  border-radius: 8px;

  @media screen and (max-width: 479px) {
    width: 280px;
  }

  @media screen and (min-width: 480px) {
    border-radius: 8px;
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 18px;
    width: 704px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
    width: 1014px;
  }
}

// Для линейного градиента и фона галлереи

// @media screen and (min-width: 480px) {
//   background-size: contain;
//   background-position: center;
//   background-image: url(./images/background-mobile-1x.png);
// }

// @media screen and (min-width: 768px) {
//   background-image: url(./images/background-tablet-1x.png);
// }

// @media screen and (min-width: 1200px) {
//   background-image: url(./images/background-desktop-1x.png);
// }
