.gallery {
  position: relative;

  &::before {
    content: '';

    background-position-x: center;
    background-repeat: repeat;
    position: absolute;
    width: 100%;

    height: 1037px;
    top: 32px;

    background-image: url(../images/background-mobile-1x.png);

    @include retina {
      background-image: url(../images/background-mobile-2x.png);
    }

    @include mobile {
      top: 27px;
      height: 1131px;
      background-image: url(../images/background-mobile-1x.png);

      @include retina {
        background-image: url(../images/background-mobile-2x.png);
      }
    }

    @include tablet {
      top: 144px;
      height: 990px;

      background-image: url(../images/background-tablet-1x.png);

      @include retina {
        background-image: url(../images/background-tablet-2x.png);
      }
    }

    @include desktop {
      top: 98px;
      height: 1054px;

      background-image: url(../images/background-desc2.jpg);

      @include retina {
        background-image: url(../images/background-desc2-2x.jpg);
      }
    }
  }
}

.gallery__container img {
  border-radius: 8px;

  @include tablet {
    border-radius: 18px;
  }

  @include desktop {
    border-radius: 24px;
  }
}

.gallery__container {
  position: relative;

  @include desktop {
    padding-left: 94px;
    padding-right: 94px;
  }
}

.gallery__img {
  border-radius: 8px;
}
