.header {
  padding-top: 20px;
  background-color: $main-bg-color;
  align-items: center;
}

// .header__logo-destop {
//   @media (max-width: 767px) {
//     display: none;
//   }
// }

// .header__logo-tablet {
//   @media (min-width: 768px) {
//     display: none;
//   }
// }

.header__nav {
  display: flex;

  @media (max-width: 767px) {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

// .mobil-icon {
//     fill: #000000;

// }

.header__menu-button {
  width: 32px;
  height: 32px;
  display: inline-block;
   justify-content: center;
   align-items: center;
  border: none;
  padding: 0;
  margin-left: auto;
  margin-right: 32px;
  background-color: $main-bg-color;

  @media (max-width: 480px) {
    margin-right: 0px;
  }

  @media (min-width: 767px) {
    display: none;
  }
}

.header__menu-button.button__mobil-menu {
  @media (min-width: 768px) {
      display: none;
    }
}

.tab-desk__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: #f8d24e;
  width: 152px;
  height: 42px;
  cursor: pointer;
  padding: 0px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 10px;
  
}

.tab-desk__in-menu {

  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
      display: none;
    }
}

.header-tab-desk__button.button {
  @media (max-width: 480px) {
      display: none;
    }
}

.tab-desk__button:hover {
  background: #0a8817;
}

.tab-desk__button:focus {
  background: #0a8817;
  color: #ffff;
}

.header__icon-arrow {
  fill: currentColor;
  margin-left: 5px;
}

.modal__cross.header__modal-cros {
  fill: #ffff;
  width: 20px;
  height: 20px;
}

.header-nav__link {
  display: inline-block;
}

.header-nav__item:not(:last-child) {
  margin-right: 28px;
}

.header-nav__link {
  // text-decoration: none;
  color: #fcfcfc;
  // background-color: #F8D24E;
}

.header-nav__link:hover {
  color: #f8d24e;
}

.header-nav__link:focus {
  color: #f8d24e;
}

.header__logo-mobil.header__ise-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header__mobil-menu.modal {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.23;
  background-color: #84A178;
  // z-index: 999;
  transform: translateX(100%);
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;

  
  @media (max-width: 480px) {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    
  }
}

.header__mobil-menu.modal.active {
  transform: translateX(0);
}

.header__mobil-menu-list {
  padding-top: 76px;
  @media (max-width: 480px) {      
      padding-top: 50px;
      padding-bottom: 110px;
    }

        @media (max-width: 768px) {
          padding-top: 40px;
          padding-bottom: 110px;
        }
  
}

.header__mobil-menu-item + .header__mobil-menu-item {
  margin-top: 40px;
  @media (max-width: 480px) {
      margin-top: 32px;
    }
}

.header__mobil-menu-link {
  color: #ffff;
  &:hover,
  &:focus {
    color: #131313;
  }
}
// cкрол сторінки

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #e6c448;
  z-index: 3;
  //  display: none;
}

.back-to-top:hover,
.back-to-top:focus {
  filter: brightness(1.0);
  outline: none;
}

.back-to-top::before,
.back-to-top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.back-to-top::before {
  width: 5px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #84A178;
}

.back-to-top::after {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid#84A178;
  border-left: 5px solid#84A178;
}
 




