/*Можна перенести у _base.html*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/*------------*/

.hero {
  padding-top: 50px;
  height: 454px;
  overflow: hidden;
  background: $main-bg-color;

  background-image: url(../images/hero-dots-tel.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @include mobile {
    background-image: url(../images/hero-dots-mobile.svg);
  }

  @include tablet {
    height: 349px;
    padding-top: 14px;
    background-image: url(../images/hero-dots-tablet.svg);
  }

  @include desktop {
    height: 591px;
    padding-top: 45px;
    background-image: url(../images/hero-dots-desktop.svg);
  }

  & .container {
    height: 100%;
    position: relative;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 247px;
    margin-bottom: 32px;

    font-family: $title-fonts;
    @include font(400, 26px, 1.27, 0.04em);
    text-transform: uppercase;
    color: $title-color-white;

    @include tablet {
      margin-bottom: 24px;
    }

    @include desktop {
      @include font(400, 38px, 1.26, 0.04em);
      text-transform: uppercase;
      max-width: 367px;
      margin-bottom: 28px;
    }
  }

  &__navigation-list {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    @include tablet {
      margin-bottom: 12px;
    }

    @include desktop {
      margin-bottom: 42px;
    }
  }

  &__link {
    @include btn-sizes(108px, 38px, 8px, 12px, 1.25, 11px 26px);

    @include desktop {
      @include btn-sizes(134px, 42px, 10px, 12px, 1.25, 11px 26px);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px;
    border-style: solid;
    font-family: $primary-fonts;
    font-weight: 600;
    cursor: pointer;
    color: $button-text-color;
    background-color: transparent;
    border-color: $link-bg-color;
    transition: background-color 250ms $timing-function,
      color 250ms $timing-function, border-color 250ms $timing-function;

    &:hover {
      border-color: $button-border-color;
    }

    &:focus {
      border-color: $button-border-color;
      color: $main-text-color;
    }

    &:disabled {
      border-color: $time-color;
    }
  }

  &__underline {
    text-decoration: underline;
    color: $link-bg-color;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    transition: color 250ms $timing-function;

    @include desktop {
      @include btn-sizes(auto, auto, 0px, 12, 1.25, 18px 0px);
    }

    &:hover {
      color: $button-border-color;
    }
  }

  &__point-sale {
    @media screen and (max-width: 767px) {
      display: none;
    }
    text-align: right;

    @include desktop {
      margin-top: 8px;
    }

    &-count {
      @include font(900, 28px, 1.21, 0.04em);
      text-transform: uppercase;
      color: $title-color-black;

      @include desktop {
        @include font(900, 46px, 1.21, 0.04em);
        text-transform: uppercase;
      }
    }

    &-name {
      @include font(400, 8px, 1.2, 0.04em);
      color: $main-text-color;

      @include desktop {
        @include font(400, 14px, 1.2, 0.04em);
      }
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 20px;
    @include desktop {
      margin-bottom: 16px;
    }
  }
  &__content {
    @media screen and (max-width: 767px) {
      display: none;
    }

    display: flex;
    align-items: center;
  }

  &__img-balls {
    margin-right: 32px;

    animation: circle 9000ms $timing-function infinite 1000ms alternate-reverse;

    @keyframes circle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
  @include desktop {
    margin-right: 20px;
  }

  &__content-link {
    // color: $main-text-color;

    &:hover .hero__arrow,
    &:focus .hero__arrow {
      fill: $link-bg-color;

      animation: pulse 1s infinite;
      animation-timing-function: $timing-function;

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  &__arrow {
    fill: currentColor;
    transition: fill 250ms $timing-function;
  }

  &__text {
    @include font(400, 12px, 1.4, 0.04em);
    max-width: 139px;
    color: $main-text-color;
    margin-bottom: 12px;
    max-width: 200px;

    @include desktop {
      @include font(400, 14px, 1.4, 0.04em);
      margin-top: 45px;

      margin-bottom: 24px;
    }
  }

  &__img-cone {
    position: absolute;
    bottom: 0;
    width: 177px;

    transform: translateY(5px);
    transition: transform 250ms $timing-function;

    &:hover {
      transform: translateY(0px);
    }

    @media screen and (max-width: 767px) {
      &:hover {
        transform: skew(10deg);
      }

      right: 50%;
      transform: translateX(56%);
    }

    @include tablet {
      width: 268px;
      right: 12%;
    }

    @include desktop {
      width: 456px;
      right: 7%;
    }
  }
}
/* animate*/

.animate__animated.animate__backInRight {
  --animate-duration: 1s;
}
