@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.hero {
  padding-top: 50px;
  height: 454px;
  overflow: hidden;

  & .container {
    height: 100%;
    position: relative;
  }

  &__dots {
    background-image: url(../images/hero-dots-tel.svg);
    background-repeat: no-repeat;
    // background-position: 100% 100%;
    background-position: bottom;

    @include mobile {
      height: 349px;
      background-image: url(../images/hero-dots-mobile.svg);
      // background-position: 95% 100%;
      background-position: bottom right 30%;
    }

    @include tablet {
      height: 349px;
      padding-top: 14px;
      background-image: url(../images/hero-dots-tablet.svg);
      background-position: bottom;
    }

    @include desktop {
      height: 591px;
      padding-top: 45px;
      background-image: url(../images/hero-dots-desktop.svg);
      background-position: bottom;
    }
  }

  &__description {
    @include flex-align;

    justify-content: space-between;
  }

  &__title {
    max-width: 247px;
    margin-bottom: 32px;

    font-family: $title-fonts;
    @include font(400, 26px, 1.27, 0.04em);
    text-transform: uppercase;
    color: $title-color-white;

    @include tablet {
      margin-bottom: 24px;
    }

    @include desktop {
      @include font(400, 38px, 1.26, 0.04em);
      text-transform: uppercase;
      max-width: 367px;
      margin-bottom: 28px;
    }
  }

  &__navigation-list {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    @include mobile {
      gap: 0px;
    }

    @include tablet {
      margin-bottom: 12px;
    }

    @include desktop {
      margin-bottom: 42px;
    }
  }

  &__link {
    @include btn-sizes(108px, 38px, 8px, 12px, 1.25, 11px 26px);

    @include desktop {
      @include btn-sizes(134px, 42px, 10px, 12px, 1.25, 11px 26px);
    }
  }

  &__button {
    @include flex-align;
    justify-content: center;
    box-sizing: border-box;
    border: 2px;
    border-style: solid;
    font-family: $primary-fonts;
    font-weight: 600;
    cursor: pointer;
    color: $button-text-color;
    background-color: transparent;
    border-color: $link-bg-color;
    @include animation3(background-color, color, border-color);

    &:hover {
      border-color: $button-border-color;
    }

    &:focus {
      border-color: $button-border-color;
      color: $main-text-color;
    }

    &:disabled {
      border-color: $time-color;
    }
  }

  &__underline {
    text-decoration: underline;
    color: $link-bg-color;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    @include animation(color);

    @include mobile {
      @include btn-sizes(auto, auto, 0px, auto, auto, 18px 16px);
    }

    @include desktop {
      @include btn-sizes(auto, auto, 0px, 12, 1.25, 18px 26px);
    }

    &:hover {
      color: $button-border-color;
    }
  }

  &__point-sale {
    @media screen and (max-width: 767px) {
      display: none;
    }
    text-align: right;

    @include desktop {
      margin-top: 8px;
    }

    &-count {
      @include font(900, 28px, 1.21, 0.04em);
      text-transform: uppercase;
      color: $title-color-black;

      @include desktop {
        @include font(900, 46px, 1.21, 0.04em);
        text-transform: uppercase;
      }

      &::after {
        content: counter(num);
      }
    }

    &-name {
      @include font(400, 8px, 1.2, 0.04em);
      color: $main-text-color;

      @include desktop {
        @include font(400, 14px, 1.2, 0.04em);
      }
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 20px;
    @include desktop {
      margin-bottom: 16px;
    }
  }

  &__counter-first {
    animation: counterfirst 3s ease-in-out forwards;
    counter-reset: num var(--num);

    @keyframes counterfirst {
      0% {
        opacity: 0.05;
        --num: 0;
      }
      100% {
        opacity: 1;
        --num: 16;
      }
    }
  }

  &__counter-second {
    animation: countersecond 3s ease-in-out forwards;
    counter-reset: num var(--num);

    @keyframes countersecond {
      0% {
        opacity: 0.05;
        --num: 0;
      }
      100% {
        opacity: 1;
        --num: 23;
      }
    }
  }

  &__content {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @include flex-align;
  }

  &__img-balls {
    animation: circle 9000ms infinite 1000ms alternate-reverse;
    @include animation(animation-timing-function);

    @keyframes circle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }

  &__content-link {
    &:hover .hero__arrow,
    &:focus .hero__arrow {
      fill: $products-bg-color-yellow;

      animation: pulse 1s infinite;
      @include animation(animation-timing-function);

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    @include tablet {
      margin-left: 32px;
    }

    @include desktop {
      margin-left: 16px;
    }
  }

  &__arrow {
    fill: $title-color-white;
    @include animation(fill);
  }

  &__text {
    @include font(400, 12px, 1.4, 0.04em);
    color: $main-text-color;
    margin-bottom: 12px;
    max-width: 220px;

    @include desktop {
      @include font(400, 14px, 1.4, 0.04em);
      margin-top: 60px;

      margin-bottom: 24px;
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    width: 177px;
    right: 20%;

    @include mobile {
      right: 15%;
    }

    @include tablet {
      width: 268px;
      right: 12%;
    }

    @include desktop {
      width: 456px;
      right: 7%;
    }
  }

  &__img-cone {
    transform: translateY(5px);
    @include animation(transform);

    &:hover {
      transform: translateY(0px);
    }
  }
}
/* animate*/

.animate__animated.animate__fadeInDownBig {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeInTopRight {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeInTopLeft {
  --animate-duration: 1.5s;
}
