.products {
  background-position-x: center;
  background-size: 1300px;
  background-repeat: repeat-y;

  background-image: url(../images/background-mobile-1x.png);

  @include retina {
    background-image: url(../images/background-mobile-2x.png);
  }
   

  @include mobile {
    background-image: url(../images/background-mobile-1x.png);
   

    @include retina {
      background-image: url(../images/background-mobile-2x.png);
    }
  }

  @include tablet {
    background-image: url(../images/background-tablet-1x.png);

    @include retina {
      background-image: url(../images/background-tablet-2x.png);
    }
  }

  @include desktop {
    top: 98px;
    height: 1054px;

    background-image: url(../images/background-desc-prod.jpg);

    @include retina {
      background-image: url(../images/background-desc-prod-2x.jpg);
    }
  }

  &__container {
    display: block;
    text-align: center;
    padding: 60px 0;
  }

  &__label {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    color: $title-color-black;
    text-transform: uppercase;
    margin-bottom: 12px;

    @include tablet {
      font-size: 22px;
    }

    @include desktop {
      font-size: 30px;
    }
  }

  &__titel {
    font-family: $title-fonts;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    color: $title-color-black;
    text-transform: uppercase;
    margin-bottom: 145px;

    @include tablet {
      font-size: 34px;
      line-height: 1.26;
      margin-bottom: 200px;
    }

    @include desktop {
      margin-bottom: 303px;
      font-size: 36px;
      line-height: 1.25;
      letter-spacing: 0.06em;
    }
  }

  &__list {
    @include flex-align;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__item {
    position: relative;
    @include flex-align;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    padding: 123px 25px 16px;
    // box-shadow: 2px 2px 4px #bebebe, 0 -1px 4px #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      max-width: 280px;
      min-height: 420px;
    }

    @include tablet {
      width: 224px;
      height: 428px;
      padding: 108px 26px 12px;
    }
    @include desktop {
      padding: 165px 63px 30px;
      width: 370px;
      height: 536px;
    }
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 20px 20px 60px #bebebe, -2px -2px 6px #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      transform: translateY(-1%);
      box-shadow: 20px 20px 60px #bebebe, -2px -2px 6px #ffffff;
    }

    @include desktop {
      transform: translateY(-1%);
    }
  }

  &__item:hover &__btn,
  &__item:focus &__btn {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
  }

  &__item--green::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

    @include desktop {
      width: 302px;
      height: 302px;
    }
  }

  &__item--green::after {
    content: '';
    position: absolute;
    background-image: url(../images/products_img_cream_1x.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
      top: 0;
      width: 302px;
      height: 302px;
    }

    @include retina {
      background-image: url(../images/products_img_cream_2x.png);
      background-position: center;
      background-size: cover;
    }
  }

  &__item--coffee::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

    @include desktop {
      width: 302px;
      height: 302px;
    }
  }

  &__item--coffee::after {
    content: '';
    position: absolute;
    background-image: url(../images/products_img_coffee_1x.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;

    @include tablet {
      transition-delay: 250ms;
    }

    @include desktop {
      top: 0;
      width: 302px;
      height: 302px;
    }

    @include retina {
      background-image: url(../images/products_img_coffee_2x.png);
      background-position: center;
      background-size: cover;
    }
  }

  &__item--milkshakes::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

    @include desktop {
      width: 302px;
      height: 302px;
    }
  }

  &__item--milkshakes::after {
    content: '';
    position: absolute;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      transition-delay: 500ms;
    }

    @include desktop {
      top: 0;

      width: 302px;
      height: 302px;
    }
    background-image: url(../images/products_img_milkshakes_1x.png);

    @include retina {
      background-image: url(../images/products_img_milkshakes_2x.png);
      background-position: center;
      background-size: cover;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 160px;
    }
  }

  &__item--green {
    background-color: $products-bg-color-green;
  }

  &__item--coffee {
    background-color: $products-bg-color-yellow;
  }

  &__item--milkshakes {
    background-color: $products-bg-color-coffee;
  }

  &__name {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    color: $title-color-black;

    @include tablet {
      font-size: 22px;
      line-height: 1.23;
    }

    @include desktop {
      font-size: 30px;
      margin-bottom: 66px;
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    color: $title-color-black;

    @include desktop {
      font-size: 16px;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    margin-top: auto;
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    @include animation(fill);
  }

  &__btn:hover,
  &__btn:focus {
    fill: $title-color-white;
  }
}

.in-viewport.products__item--green::after,
.in-viewport.products__item--coffee::after,
.in-viewport.products__item--milkshakes::after {
  transform: translate(-50%, -111px);

  @include desktop {
    transform: translate(-50%, -167px);
  }
}
