.products-modal {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  max-height: 968px;

  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
    max-height: 996px;
  }
}

.product-modal__title {
  @include font(400, 20px, 1.4, null);
}

// .modal__continer {
//   position: relative;
// }

.modal__pic {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 31px;
  }

  &::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 132px;
    height: 132px;
    top: 7px;
    border-radius: 50%;
    background: linear-gradient(0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  }
}

.modal__pic--ice-coffee {
  &::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 132px;
    height: 132px;
    top: 7px;
    border-radius: 50%;
    background: linear-gradient(0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)),
      #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }
}

.modal__pic--milkshake {
  &::before {
    content: '';
    position: absolute;
    background-size: cover;
    width: 132px;
    height: 132px;
    top: 7px;
    border-radius: 50%;
    background: linear-gradient(0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)),
      #D9D9D9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.modal__img {
  position: relative;
  @include animation(transform);

  &:hover,
  &:focus {
    transform: translateY(7px);
  }
}

.modal__features {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
}

.modal__list {
  margin-right: 10px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  width: 53px;
  padding: 0 2px 4px;


  @include animation (transform);


  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    width: 65px;
    height: 90px;
    margin-right: 20px;
    padding: 0 4px 14px 4px;
  }

  &:hover .modal__item {
    background-color: $title-color-white;

    transform: translateY(+60%);

    @include tablet {
      transform: translateY(+70%);
    }
  }

  &:hover .modal__items {
    @include tablet {
      transform: translateY(-305%);
    }

    @media screen and (max-width: 767px) {
      transform: translateY(-320%);
    }
  }

  &:hover {
    background-color: #9cbe8f;

  }
}

.modal__list--milkshake {

  border: 2px solid $products-bg-color-coffee;

  &:hover {
    background-color: $products-bg-color-coffee;
  }
}

.modal__list--ice-coffee {

  border: 2px solid $products-bg-color-yellow;

  &:hover {
    background-color: $products-bg-color-yellow;
  }
}

.modal__item {
  display: flex;
  justify-content: center;

  background-color: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;
  width: 43px;
  padding: 6px 15px;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  @include font(500, 10px, 2.8, null);
  color: $secondary-text-color;

  // @include animation(transform);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-bottom: 8px;

  &--milkshake {
    background-color: $products-bg-color-coffee;
    border: 2px solid $products-bg-color-coffee;
  }

  &--ice-coffee {
    background-color: $products-bg-color-yellow;
    border: 2px solid $products-bg-color-yellow;
  }

  @include tablet {
    @include font(null, 12px, 2.33, null);
    width: 53px;
    padding: 10px 0;
  }
}

.modal__items {
  display: flex;
  justify-content: center;

  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  // @include animation (transform);

  @include font(null, 10px, 1.2, 0);

  color: $secondary-text-color;

  @include tablet {
    @include font(null, 12px, 1.25, 0);

  }
}

.modal__items-span {
  @include tablet {
    display: none;
  }
}

.modal__items-span2 {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.modal__ingredients-title {
  @include font (500, 20px, 1.4, null);
  align-items: center;
  text-align: center;
  color: $title-color-black;

  margin-bottom: 24px;
}

.modal__ingregients-list {
  margin-bottom: 48px;
}

.modal__ingredients-item {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }

  display: flex;
  justify-content: space-between;
}

.modal__ingredients-text {
  @include font (null, 14px, 1.76, 0.04em);
  text-align: center;

  color: $title-color-black;
}

.form__item {
  display: flex;
  justify-content: center;
}

.form__input {
  font-size: 14px;
  line-height: 140%;
  color: $title-color-black;
  background: rgba(248, 210, 78, 0.1);

  width: 368px;
  height: 42px;
  margin-bottom: 16px;
  border: 1px solid #84a178;
  border-radius: 10px;
  outline-style: none;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 140%;
    color: $title-color-black;
  }

  &:focus {
    border-color: $title-color-black;
  }
}

.form__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.form__textarea {
  font-size: 14px;
  line-height: 140%;
  color: $title-color-black;
  background: rgba(248, 210, 78, 0.1);
  width: 368px;
  height: 84px;
  border: 1px solid #84a178;
  border-radius: 10px;
  outline-style: none;
  resize: none;
  padding-top: 11px;
  padding-left: 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 140%;
    color: $title-color-black;
  }

  &:focus {
    border-color: $title-color-black;
  }

  margin-bottom: 32px;
}

.close-btn {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
